# Ignores files in the ./__pycache__ directory
__pycache__/

# Ignores files in the ./.venv directory
.venv/

# Ignores files in the ./.vscode directory
.vscode/

# Ignore hdr files (except the example output HDR images)
*.hdr
!FinalHDRimage.hdr
!FinalHDRimage_falsecolor.hdr

# Ignore temp, errors, logs directories
temp/
errors/
logs/

# Ignore PyInstaller directories
build/
dist/

# Ignore MacOS hidden Finder file .DS_Store
.DS_Store
