# Ignores files in the ./__pycache__ directory
__pycache__/

# Ignores files in the ./.venv directory
.venv/

# Ignores files in the ./.vscode directory
.vscode/

# Ignore hdr files
*.hdr

# Ignore temp, errors, logs directories
temp/
errors/
logs/