# Ignores files in the ./__pycache__ directory
__pycache__/

# Ignores files in the ./.venv directory
.venv/

# Ignores files in the ./.vscode directory
.vscode/

# Ignore hdr files
*.hdr

# Ignore temp, errors, logs directories
temp/
errors/
logs/

# Ignore PyInstaller directories
build/
dist/
dist-windows/
dist-macos/

# Ignore MacOS hidden Finder file .DS_Store
.DS_Store
