/* Styling document for the ImagePreview class. */


/* The label for the upload region */
QLabel#imageLabel
{
	/*background-color: white;*/
	color: black;
	font-weight: bold;
	font-size: 28px;
}


/* The file name label */
QLabel#filenameLabel
{
	/*background-color: white;*/
	color: black;
	font-weight: bold;
	font-size: 20px;
}


/* The remove button */
QPushButton#removeButton
{
	background-color: #FF8C8C;
	color: white;
	font-weight: bold;
}
QPushButton#removeButton:hover
{
	background-color: #FF5959;
	color: white;
	font-weight: bold;
}
QPushButton#removeButton:clicked
{
	background-color: #FF0D0D;
	color: white;
	font-weight: bold;
}
