/* Styling document for the main UI widgets for the application */

/* Page-routing, "Help", and "Settings" buttons in menu sidebar */
QPushButton#btn_page_1[isActivePage="true"],
#btn_page_2[isActivePage="true"],
#btn_page_3[isActivePage="true"],
#btn_page_4[isActivePage="true"],
#btn_settings[isActivePage="true"],
#btn_help[isActivePage="true"] {
    color: white;
    background-color: #599cc1;
    font-weight: bolder;
}
QPushButton#btn_page_1,
#btn_page_2,
#btn_page_3,
#btn_page_4 {
    color: black;
    background-color: #e8e7df;
    border: 2px solid;
    border-color: black;
    font-weight: bold;
}
QPushButton#btn_settings,
#btn_help {
    color: black;
    background-color: #d9d9d9;
    border: 2px solid;
    border-color: black;
    font-weight: bold;
}
QPushButton#btn_page_1:hover,
#btn_page_2:hover,
#btn_page_3:hover,
#btn_page_4:hover,
#btn_settings:hover,
#btn_help:hover {
    color: white;
    background-color: #599cc1;
    border-color: white;
    border-width: 2px;
    font-weight: bold;
}
QPushButton#btn_page_1:pressed,
#btn_page_2:pressed,
#btn_page_3:pressed,
#btn_page_4:pressed,
#btn_settings:pressed,
#btn_help:pressed {
    background-color: #477c9a;
    font-weight: bold;
}

/* "Go" button in menu sidebar that begins the Radiance pipeline process */
QPushButton#btn_start_pipeline {
    color: black;
    background-color: #72b170;
    border: 2px solid;
    border-color: white;
    font-weight: bold;
    font-size: 22px;
}
QPushButton#btn_start_pipeline:hover {
    color: white;
    background-color: #476f46;
    font-weight: bold;
}
QPushButton#btn_start_pipeline:pressed {
    color: white;
    background-color: #395838;
    font-weight: bold;
}
QPushButton#btn_start_pipeline:disabled {
    color: #2b2b2b;
    background-color: #8ea58d;
}

/* The camera settings page input fields */
QLineEdit {
    background-color: white;
    color: black;
}

/* Camera settings page form qwidgets */
QWidget#croppingRegion,
#viewingAngleRegion,
#outputDimRegion {
    background-color: #a0a0a0;
}

/* Welcom page labels */
QLabel#welcome_label {
    font-size: 40pt;
    color: black;
    padding-top: 20px;
}

QLabel#intro_para,
#intro_para_2,
#intro_para_3,
#intro_para_4 {
    border-top: 3px solid #6495ED;
    padding-top: 10px;
    font-size: 16pt;
}


/* Camera settings page form labels */
QLabel#label_fisheyeViewDiameter,
#label_xCropOffset,
#label_yCropOffset,
#label_viewAngleVertical,
#label_viewAngleHorizontal,
#label_outputXRes,
#label_outputYRes {
    background-color: #a0a0a0;
    font-size: 16pt;
}

QLabel#label_CD,
#label_LVA,
#label_OID {
    background-color: #a0a0a0;
    font-weight: bold;
    font-size: 20pt;
}


/* Settings page styling */
QLabel#page_settings_title_label {
    color: black;
    font-weight: bold;
    font-size: 28pt;
    border-bottom: 3px solid #6495ED;
    padding-bottom: 5%;
}

QLabel#cacheCheckboxLabel,
#cacheButtonLabel {
    color: black;
    font-weight: bold;
    font-size: 14pt;
}

QPushButton#enable_cache_checkbox,
#save_cache_button,
#save_settings_button {
    font-size: 12pt;
    color: black;
    background-color: #d9d9d9;
    border: 2px solid;
    border-color: black;
    font-weight: bold;
    padding: 5%;
}