/* Styling document for the ProgressWindow class. */


/* The finish button */
QPushButton#finishButton
{
	color: white;
    background-color: #72B170;
    border: 1px solid;
    border-color: white;
	font-weight: normal;
	font-size: 14px;
}
QPushButton#finishButton:hover
{
	color: white;
	background-color: #476F46;
	font-weight: bold;
}
QPushButton#finishButton:pressed
{
	color: white;
	background-color: #395838;
	font-weight: bold;
}
QPushButton#finishButton:disabled
{
	color: #2B2B2B;
    background-color: #8EA58D;
}


/* The cancel button */
QPushButton#cancelButton
{
	background-color: #FF8C8C;
	color: white;
	font-weight: bold;
}
QPushButton#cancelButton:hover
{
	background-color: #FF5959;
	color: white;
	font-weight: bold;
}
QPushButton#cancelButton:pressed
{
	background-color: #FF0D0D;
	color: white;
	font-weight: bold;
}


/* The QProgressBar */
QProgressBar[pipelineComplete="false"]
{
	text-align: center;
	border: 2px solid grey;
	border-radius: 5px;
}
QProgressBar[pipelineComplete="true"]
{
    text-align: center;
	border: 2px solid grey;
    border-radius: 5px;
}
QProgressBar[pipelineComplete="false"]::chunk
{
    background-color: #B6D0E2;
}
QProgressBar[pipelineComplete="true"]::chunk
{
    background-color: #88FF33;
}
