/* Styling document for the main UI widgets for the application */


/* Page-routing buttons in menu sidebar */
QPushButton#btn_page_1[isActivePage="true"],
		   #btn_page_2[isActivePage="true"],
		   #btn_page_3[isActivePage="true"],
		   #btn_page_4[isActivePage="true"]
{
    color: white;
    background-color: #599CC1;
	font-weight: bolder;
}
QPushButton#btn_page_1,
		   #btn_page_2,
		   #btn_page_3,
		   #btn_page_4
{
    color: black;
    background-color: #E8E7DF;
    border: 2px solid;
    border-color: black;
	font-weight: bold;
}
QPushButton#btn_page_1:hover,
		   #btn_page_2:hover,
		   #btn_page_3:hover,
		   #btn_page_4:hover
{
    color: white;
    background-color: #599CC1;
	border-color: white;
	border-width: 2px;
	font-weight: bold;
}
QPushButton#btn_page_1:pressed,
		   #btn_page_2:pressed,
		   #btn_page_3:pressed,
		   #btn_page_4:pressed
{
    background-color: #477C9A;
	font-weight: bold;
}


/* "Go" button in menu sidebar that begins the Radiance pipeline process */
QPushButton#btn_start_pipeline
{
	color: black;
    background-color: #72B170;
    border: 2px solid;
    border-color: white;
	font-weight: bold;
	font-size: 22px;
}
QPushButton#btn_start_pipeline:hover
{
	color: white;
	background-color: #476F46;
	font-weight: bold;
}
QPushButton#btn_start_pipeline:pressed
{
	color: white;
	background-color: #395838;
	font-weight: bold;
}
QPushButton#btn_start_pipeline:disabled
{
	color: 2B2B2B;
    background-color: #8EA58D;
}


/* "Settings" button in menu sidebar that opens the Settings dialog window */
QPushButton#btn_settings
{
	color: black;
    background-color: #D9D9D9;
    border: 2px solid;
    border-color: black;
	font-weight: bold;
}
QPushButton#btn_settings:hover
{
	background-color: #C3C3C3;
	font-weight: bold;
}
QPushButton#btn_settings:pressed
{
	background-color: #ADADAD;
	font-weight: bold;
}


/* "Help" button in menu sidebar */
QPushButton#btn_help
{
	color: black;
    background-color: #D9D9D9;
    border: 2px solid;
    border-color: black;
	font-weight: bold;
}
QPushButton#btn_help:hover
{
	background-color: #C3C3C3;
	font-weight: bold;
}
QPushButton#btn_help:pressed
{
	background-color: #ADADAD;
	font-weight: bold;
}