/* Styling document for the UploadImageRegion class. */


/* The label for the upload region */
QLabel#regionLabel
{
	background-color: #CBEEB0;
	color: black;
	font-weight: bold;
	font-size: 28px;
}


/* The file icon */
QLabel#fileIcon
{
	background-color: #CBEEB0;
}


/* The click-to-browse button */
QPushButton#browseButton
{
	background-color: #599CC1;
	color: white;
	font-weight: bold;
}
QPushButton#browseButton:hover
{
	background-color: #477C9A;
	color: white;
	font-weight: bold;
}
QPushButton#browseButton:pressed
{
	background-color: #355D73;
	color: white;
	font-weight: bold;
}


/* The upload text labels in the UploadFileRegion */
QLabel#dragTextLabel, QLabel#orTextLabel
{
	font-weight: bold;
}


/* The visible portion of the upload region, including placeholder spacers */
QLabel
{
	background-color: #CBEEB0;
}